body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input[type="file"] {
    border: none;
    background-color: #2c2c2c;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="file"]::placeholder {
    color: #888;
}

button[type="submit"] {
    background-color: #03a9f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    display: block;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0288d1;
}

.error {
    color: red;
}