<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='encrypt.css') }}" />
        <link
            rel="shortcut icon"
            href="static/img/secretpixel.png"
            type="image/x-icon" />
        <title>Encriptar</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="/encrypt">
            <h1>Encriptar Mensaje en Imagen</h1>
            <label for="text_file">Texto:</label>
            <input
                type="file"
                name="text_file"
                id="text_file"
                accept=".txt" /><br />
            <label for="image_file">Imagen:</label>
            <input
                type="file"
                name="image_file"
                id="image_file"
                accept="image/*" /><br />
            <button type="submit">Encriptar</button>
        </form>
        <p class="error">{{error}}</p>
    </body>
</html>
